body {
    font-family: 'Itim',
        cursive;

}

* {
    margin: 0px;
    padding: 0;
}






.nav-item {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

.carousel-item {
    width: 200px;
}